.choose {
  padding: 5vw;
  text-align: center;

  h1 {
    font-size: 3vw;
    color: $textColor;
  }
  p {
    font-size: 1.4vw;
    color: $textColor;
  }

  .courses {
    @include courses;
    justify-content: center;
    margin: 5vw;

    & .course:nth-of-type(2n+1){
        background: rgba(255, 236, 241, 1);
    }
    & .course:nth-of-type(2n){
        background: rgba(236, 237, 255, 1);
    }
    & .course:nth-of-type(4n+2){
        background: rgba(255, 250, 236, 1);
    }
    
    .course {
      width: 22vw;
      padding: 1vw 0.5vw;
      border-radius: 1vw;

      
      img {
        width: 25%;
      }
      h4{
          font-size: 1.8vw;
      }
      p{
          font-size: 1.3vw;
      }
    }
  }
}
