.header {
  .navbar-section {
    padding: 2vw 6vw;
    display: flex;
    justify-content: space-between;
    img {
      width: 20vw;
    }
    & > .contacts {
      @include flexMain(flex, space-between);
      
      gap: 1.5vw;

      i {
        color: #e24329;
        margin-right: 5px;
      }

      button {
        @include btnPrimary();
      }
    }
  }
  .header-section {
    background-color: #e24329;
    @include flexMain(flex, space-between);
    padding: 4vw 6vw;
    &_text {
      color: white;
      h1 {
        font-size: 3.5vw;
      }
      p {
        font-size: 1.3vw;
        line-height: 2vw;
        margin-top: 2vw;
      }

      form {
        @include flexMain(flex, start);
        width: 100%;
        height: 4vw;
        margin-top: 3vw;

        input {
          width: 70%;
          border-radius: 6vw 0 0 6vw;
          height: 100%;
          padding-left: 1vw;
          font-size: 1.3vw;
        }

        button {
          width: 30%;
          height: 100%;
          border-radius: 0 6vw 6vw 0;
          background-color: #ff6a00;
        }
      }
    }

    .moto {
      img {
        width: 40vw;
      }
    }
  }

  .services {
    @include flexMain();
    gap: 5vw;

    .service {
      @include flexMain;
      width: 15vw;
      height: 6vw;
      border-radius: 0.7vw;
      margin-top: -2.5vw;
      background-color: white;
      box-shadow: 1px 1px 1px 1px gray;
      line-height: 1vw;
      gap: 0 0.9vw;
      img {
        width: 25%;
      }
      h3 {
        font-size: 1.2vw;
      }
      p {
        font-size: 1vw;
      }
    }
  }
}
